.filter-section{
  margin-bottom:30px;
}
  .filter-inner{
    text-align:center;
  }
    .search-form{
      width:60%;
      padding: 15px;
      margin: 0 auto;
      display:flex;
      justify-content: center;
      background: white;
      border: 1px solid #2A2B2A;
    }
      .search-form input{
        width:90%;
        background: white;
        border-style: none;
      }
      .search-form button{
        background: white;
        border-style: none;
      }

    .sub-header-container{
      display:flex;
      align-items: center;
      justify-content: center;
    }
      .sub-header-container svg{
        margin:0 7px;
      }

    .filter-container{
      display: inline-flex;
      justify-content: space-between;
      width:60%;
    }
      .filter-box{
        text-align: left;
        width:150px;
      }
        .filter-title{
          margin: 0;
          text-transform: uppercase;
          width:100%;
        }
        .checkbox-wraper{
          display:flex;
        }
          .checkbox-wrapper span{
            font-size: 0.7em;
          }
          .default-check{
            display:none;
          }
          .checkmark{
            display:inline-block; /*para poder cambiar su tamaño*/
            width:20px;
            height:20px;
            border: 1px solid #2A2B2A;
            border-radius: 50%;
            position: relative; /*para poder posicionar el checkmark::after*/
            top: 3px;
          }
            .checkmark::after{ /*Seleccion pseudoelmento post selección, creación tick*/
              content:"";
              position: absolute;
              display:none;
              top:-6px;
              left:7px;
              width:10px;
              height:20px;
              transform: rotate(40deg);
              border-right: 3px solid #2A2B2A;
              border-bottom: 3px solid #2A2B2A;
            }
            .default-check:checked ~ .checkmark::after{
              display: block;
            }
  @media (max-width:750px){
    .filter-container{
      flex-wrap: wrap;
    }
      .filter-box{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom:10px;
      }
  }

  .all-gallery{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 320px;
    grid-auto-rows: 320px;
    grid-gap: 10px;
    justify-content: center;
  }
    .all-recipe-box{
      display:flex;
      flex-direction:column;
    }
      .all-recipe-image{
        width:100%;
        height:250px;
        object-fit: cover;
      }
      .all-recipe-title{
        height:40%;
        text-align: center;
        font-size: 0.8em;
        padding-top: 10px;
      }
  @media (max-width:800px){
    .all-gallery{
      grid-template-columns: repeat(2,1fr);
    }
  }
