body{
  font-size: 1.5em; /*Basic font size*/
  margin:0;
  font-family: 'Raleway', sans-serif;
}
ul{
  padding:0;
  list-style: none;
}
/* LAYOUT RECURRING CLASSES */
.wrap{
  max-width: 1200px;
  margin: 0 auto; /*center on page*/
  padding:0 16px;
}

/* STYLE RECURRING CLASSES */
.section-title{
  text-transform: uppercase;
  text-align: center;
}
.bold-text{
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  color:black;
  text-decoration: none;
}
.all-caps-text{
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  color:black;
  text-decoration: none;
  text-transform: uppercase;
}
/* NAVBAR */
.header{
  background-color: white;
  min-height: 40px;
}
  .header-inner{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content:center;
    border-bottom: 3px solid black;
  }
    .nav-menu{
      display:flex;
      justify-content: center;
      padding:0;
      margin: auto 15px;
      font-size: 0.7em;
    }
        .header-logo{
          height:100px;
          width: 200px;
          margin:0;
          background-image: url("../imgs/site-logo.png");
          background-position: center;
          background-size: cover;
        }
    @media (min-width: 800px){
      .nav-menu{
        font-size:1em;
        margin: auto 20px;
      }
      .header-logo{
        height:150px;
        width: 300px;
      }
    }

  /* TITLE HEADER */
  .page-header-inner{
    display:flex;
    flex-wrap:wrap;
    margin: 15px auto;
    align-items:center;
    justify-content: center;
  }
    .page-header-left{
      display:flex;
      align-items: center;
      justify-content:center;
      width: 100%;
    }
      .site-icon{
        width: 60px;
        margin-right:5px;
      }
    .page-header-middle{
      text-align:center;
      width:100%;
    }
    .page-header-right{
      display:none;
      justify-content: center;
      align-items: center;
      width: 40%;
    }
      .svg-arrow{
        margin-left:20px;
      }
  @media (min-width: 1200px){
    .page-header-left{
      width:25%;
    }
    .page-header-middle{
      width:50%;
    }
    .page-header-right{
      display:flex;
      justify-content: center;
      align-items: center;
      width: 25%;
      text-transform: uppercase;
    }
  }

  /* NEWS SECTION */
  .news-gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin-bottom:0;
  }
    .recipe-box{
      display:flex;
      flex-direction: column;
      align-items: center;
    }
    .news-recipe{
      height: 550px;
      width:370px;
    }
        .recipe-image{
          flex: 5;
          width:100%;
          object-fit: cover;
          overflow: hidden;
        }
        .recipe-title{
          flex:1;
          text-align: center;
          padding-top: 10px;
        }
    @media (max-width: 1200px) and (min-width: 850px){
      .news-gallery{
        justify-content: center;
      }
      .news-recipe{
        margin:0 15px;
      }
    }
    @media (max-width: 850px){
      .news-recipe{
        width: 80vw;
        max-width: 500px;
      }
    }
  .link-repeat{
    display: flex;
    align-items:center;
    justify-content: center;
    margin: -20px auto 30px auto;
    color:#B45026;
  }

  /* SUBSCRIBE SECTION */
  .subscribe-inner{
    background: #17260E;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }
    .subscribe-left{
      width:21%;
      color:#FFDED6;
    }
    .subscribe-middle{
      width:45%;
      display:flex;
      align-items: center;
      justify-content: center;
    }
      span.subscribe-middle{
        color:white;
        text-align: center;
      }
    .subscribe-right{
      width:25%;
      display:flex;
      justify-content: center;
      align-items: center;
    }
      .light-form input{
        padding: 15px;
        border:0;
        width:75%;
      }
        .light-form ::placeholder{
          color:black;
        }
      .light-form button{
        padding: 15px 20px;
        background: #FFDED6;
        border:0;
      }
        .light-form button:hover{
          background: #ffb9a8;
        }
    @media (max-width: 1200px){
      .subscribe-inner{
        padding: 50px 20px;
      }
      .subscribe-left, .subscribe-middle, .subscribe-right{
        width:100%;
      }
        h2.subscribe-left{
          text-align: center;
          margin-top:0;
        }
        form.subscribe-right{
          margin-top:30px;
        }
    }


  /* POPULAR RECIPES */
.popular-section{
  background:#fff3f0;
  margin: 50px 0;
  padding: 50px 0;
}
  .popular-gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin-top: 60px;
  }
    .popular-recipe{
      height: 400px;
      width: 220px;
      margin:10px 5px;
      background: white;
    }
      .popular-recipe .recipe-title{
        flex:3;
        padding-top:0;
        margin-top: -20px;
      }
        .circle{
          height:40px;
          width:40px;
          border-radius: 50%;
          padding-top:-15px;
          margin:0 auto;
          background:white;
        }
        .number{
          margin-top:-10px;
          margin-bottom: 5px;
          font-family: 'Raleway', sans-serif;
        }
      .popular-recipe:hover{
        background: #17260E;
        color:white;
      }
      .popular-recipe:hover .circle{
        background: #17260E;
      }
    .break{

      display:none;
      flex-basis:100%;
      height:0;
    }
@media (max-width:1200px){
  .popular-gallery{
    justify-content: center;
  }
    .popular-recipe{
      margin:10px;
    }
    .break{
      display:flex;
    }
}
@media (max-width:800px){
    .popular-gallery{
      justify-content: center;
    }
    .popular-recipe{
      height:420px;
      width:400px;
    }
}
