body{
  font-size: 1.5em; /*Basic font size*/
  margin:0;
  font-family: 'Raleway', sans-serif;
}

/* LAYOUT RECURRING CLASSES */
.wrap{
  max-width: 1200px;
  margin: 0 auto; /*center on page*/
}

/* STYLE RECURRING CLASSES */
.section-title{
  text-transform: uppercase;
}
.bold-text{
  font-family: 'PT Sans Narrow', sans-serif;
  color:black;
}
.all-caps-text{
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1em;
  color:black;
  text-decoration: none;
}
/* NAVBAR */
.header{
  background-color: white;
  min-height: 40px;
}
  .header-inner{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content:center;
    border-bottom: 3px solid black;
  }
    .nav-menu{
      display:flex;
      justify-content: center;
      list-style: none;
      padding:0;
      margin: auto 15px;
      font-size: 0.7em;
    }
        .header-logo{
          height:100px;
          width: 200px;
          background-image: url("../imgs/site-logo.png");
          background-position: center;
          background-size: cover;
        }
    @media (min-width: 800px){
      .nav-menu{
        font-size:1em;
        margin: auto 20px;
      }
      .header-logo{
        height:150px;
        width: 300px;
      }
    }

  /* TITLE HEADER */
  .page-header-inner{
    display:flex;
    margin: 15px auto;
    align-items:center;
    justify-content:center;
    font-weight: bold;
  }
    .page-header-left{
      display:flex;
      width:25%;
    }
      .site-icon{
        width: 60px;
        margin-right:5px;
      }
    .page-header-middle{
      text-align:center;
      margin:0;
      width:50%;
    }
    .page-header-right{
      display:flex;
      justify-content: center;
      align-items: center;
      width:25%;
      text-transform: uppercase;
    }
      .svg-arrow{
        margin-left:20px;
      }
  @media (min-width: 800px){

  }
